#toast-container {
  @apply fixed z-20 pointer-events-none;

  & .toast {
    @apply relative pointer-events-auto overflow-hidden mb-2 p-3 w-80 shadow-md rounded-md bg-black border border-solid hover:cursor-pointer;

    @apply bg-no-repeat pl-12;
    background-position: 15px center;

    & .toast-title {
      @apply font-bold;
    }

    & .toast-message {
      @apply break-words;
    }

    & .toast-progress {
      @apply absolute left-0 bottom-0 h-1 bg-black opacity-40;
    }

    /*
    & .toast-close-button {
      position: relative;
      right: -0.3em;
      top: -0.3em;
      float: right;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.8;
      line-height: 1;

      &:focus,
      &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.4;
      }
    }

    & button.toast-close-button {
      padding: 0;
      cursor: pointer;
      background: 0 0;
      border: 0;
      -webkit-appearance: none;
    }

    &.rtl {
      direction: rtl;
      padding: 15px 50px 15px 15px;
      background-position: right 15px center;

      & .toast-close-button {
        left: -0.3em;
        float: left;
        right: 0.3em;
      }
    } */

    &.toast-info {
      @apply bg-blue-800 border-blue-900 hover:bg-blue-700;
    }
    &.toast-error {
      @apply bg-red-800 border-red-900 hover:bg-red-700;
    }
    &.toast-success {
      @apply bg-green-800 border-green-900 hover:bg-green-700;
    }
    &.toast-warning {
      @apply bg-yellow-800 border-yellow-900 hover:bg-yellow-700;
    }

    &.toast-info {
      background-image: url("images/icons/toastr/info.svg");
    }
    &.toast-error {
      background-image: url("images/icons/toastr/error.svg");
    }
    &.toast-success {
      background-image: url("images/icons/toastr/success.svg");
    }
    &.toast-warning {
      background-image: url("images/icons/toastr/warning.svg");
    }
  }

  &.toast-bottom-center,
  &.toast-top-center {
    @apply w-full;
    & > .toast {
      @apply mx-auto;
    }
  }

  &.toast-bottom-full-width,
  &.toast-top-full-width {
    @apply w-full;
    & .toast {
      @apply w-full mx-auto;
    }
  }

  &.toast-top-center {
    @apply top-0 right-0;
  }
  &.toast-bottom-center {
    @apply right-0 bottom-0;
  }
  &.toast-top-full-width {
    @apply top-0 right-0;
  }
  &.toast-bottom-full-width {
    @apply bottom-0 right-0;
  }
  &.toast-top-left {
    @apply top-3 left-3;
  }
  &.toast-top-right {
    @apply top-3 right-3;
  }
  &.toast-bottom-right {
    @apply right-3 bottom-3;
  }
  &.toast-bottom-left {
    @apply bottom-3 left-3;
  }
}
