<div class="modal">
  <div class="modal-dialog modal-dialog-scrollabe">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <div class="modal-header-title">
            <span class="iconify" data-icon="mdi:account-plus"></span>
            <span class="ml-1">Create account</span>
          </div>
        </div>
        <div class="modal-body text-center">
          <div class="mb-3">Before proceeding, please create your account!</div>
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:account-question"></span>
              <span class="ml-1">Name</span>
            </div>
            <input type="text" class="form-input" name="name" placeholder="..." required>
          </div>
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:translate"></span>
              <span class="ml-1">Language</span>
            </div>
            <select class="form-input" name="language" required>
              <option value="">...</option>
              {{{inputLanguageOptions}}}
            </select>
          </div>
          <input type="text" class="hidden" name="steamId" value="{{inputSteamId}}">
        </div>
        <div class="modal-footer justify-end">
          <button type="submit" class="btn btn-green">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
