<div class="modal">
  <div class="modal-dialog modal-dialog-scrollabe">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-title">
          <img class="w-8 h-auto" src="assets/images/steamlauncher.svg" alt="Logo" />
          <span class="ml-1">{{name}} v{{version}}</span>
        </div>
        <button type="button" class="btn btn-red" data-sk="modal" data-sk-attr="close">
          <span class="iconify" data-icon="mdi:close"></span>
        </button>
      </div>
      <div class="p-3 mb-3 text-center">
        <img class="w-20 h-auto mx-auto mb-5" src="assets/images/sak32009.svg" alt="Author" />
        <a href="https://github.com/Sak32009" class="btn btn-github">@Sak32009 GitHub</a>
        <a href="https://github.com/Sak32009/SteamLauncher" class="btn btn-github">@SteamLauncher GitHub</a>
      </div>
      <div class="modal-body markdown-body">{{{description}}}</div>
      <div class="modal-footer justify-center">{{copyright}}</div>
    </div>
  </div>
</div>
