<div class="modal">
  <div class="modal-dialog modal-dialog-scrollabe">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <div class="modal-header-title">
            <span class="iconify" data-icon="mdi:nintendo-game-boy"></span>
            <span class="ml-1">Add {{params.name}}</span>
          </div>
          <button type="button" class="btn btn-red" data-sk="modal" data-sk-attr="close">
            <span class="iconify" data-icon="mdi:close"></span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:account-question"></span>
              <span class="ml-1">AppId</span>
            </div>
            <input type="number" class="form-input" name="appId" value="" placeholder="..." required>
          </div>
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:account-question"></span>
              <span class="ml-1">Path</span>
            </div>
            <input type="text" class="form-input" name="path" value="{{params.path}}" placeholder="..." required
              readonly>
          </div>
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:account-question"></span>
              <span class="ml-1">Run Path</span>
            </div>
            <input type="text" class="form-input" name="runPath" value="{{params.dir}}" placeholder="..." required
              readonly>
          </div>
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:account-question"></span>
              <span class="ml-1">Command Line</span>
            </div>
            <input type="text" class="form-input" name="commandLine" value="" placeholder="-steam">
          </div>
        </div>
        <div class="modal-footer justify-end">
          <button type="submit" class="btn btn-green">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
