<div class="modal">
  <div class="modal-dialog modal-dialog-scrollabe">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <div class="modal-header-title">
            <span class="iconify" data-icon="mdi:cogs"></span>
            <span class="ml-1">Settings</span>
          </div>
          <button type="button" class="btn btn-red" data-sk="modal" data-sk-attr="close">
            <span class="iconify" data-icon="mdi:close"></span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:select-multiple"></span>
              <span class="ml-1">Overlay</span>
            </div>
            <select class="form-input" name="overlay" required>
              {{^settingsData.overlay}}
              <option value="true">true</option>
              <option value="false" selected>false</option>
              {{/settingsData.overlay}}
              {{#settingsData.overlay}}
              <option value="true" selected>true</option>
              <option value="false">false</option>
              {{/settingsData.overlay}}
            </select>
          </div>
          <div class="form-input-group">
            <div class="form-input-group-text">
              <span class="iconify" data-icon="mdi:numeric"></span>
              <span class="ml-1">Listen Port</span>
            </div>
            <input type="number" class="form-input" name="listenPort" value="{{settingsData.listenPort}}"
              placeholder="..." required>
          </div>
        </div>
        <div class="modal-footer justify-end">
          <button type="submit" class="btn btn-green">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
